@use '../../style/partials/mixins' as *;
@use '../../style//partials/variables' as *;

.footer {
  @include header-footer-padding;
  padding-top: 34px;
  padding-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $dark-grey;

  &__links-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 157.94px;
    height: 32.38px;
  }

  &__links {
    display: flex;
    color: $white;
    margin-left: 30px;
  }

  &__link {
    margin-right: 40px;
  }

  &__icons {
    display: flex;
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;

    &--facebook {
      width: 7.47px;
      height: 16px;
    }

    &--twitter {
      width: 16px;
      height: 13.22px;
    }

    &--instagram {
      width: 16px;
      height: 16px;
    }

    &--linkedIn {
      width: 16px;
      height: 15.27px;
    }
  }
}
