// light
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SFProText-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

// normal
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SFProText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

// medium
@font-face {
  font-family: "SFProText";
  src: url("../../assets/fonts/SFProText-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

// demi
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/SFProText-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

// bold
@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/fonts/SFProText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
