// colors
$white: #ffffff;
$black: #413d45;
$dark-grey: #212b36;
$light-grey: #b1b1b1;
$blue: #0c6ff9;
$yello: #ffce00;
$orange: #ff6700;
$transparent: rgba(0, 0, 0, 0);
$hover-color: rgba(177, 177, 177, 0.3);

// font size
$H2: 40px;
$H3: 32px;
$H4: 20px;
$H5: 16px;
$H5-Footer: 14px;

// line height
$H2-LH: 48px;
$H3-LH: 38px;
$H4-LH: 24px;
$H5-LH: 19px;
$H5-Footer-LH: 20px;

// padding
$header-footer-padding: 11.45vw;
