@use './style/partials/mixins' as *;
@use './style/partials/variables' as *;

.App {
  background-image: url(./assets/images/background.png);
  position: relative;
  min-height: 100vh;
  background-size: cover;
}

.page-padding {
  height: 100.38px;
}

.main {
  width: 730px;
  height: 675px;
  margin: auto;
  background-color: $white;
  border-radius: 24px;
  padding: 65px 65px 76px 65px;
  box-sizing: border-box;

  &__title-container {
    margin-bottom: 68px;
  }

  &__title {
    font-weight: 300;
  }

  &__description {
    font-weight: 400;
    color: $light-grey;
  }

  &__swap {
    display: flex;
    justify-content: space-between;
  }

  &__amount {
    width: 100%;
    margin-right: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: inherit;
    @include H3;
    color: inherit;

    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &--valid {
      border-bottom: 2px solid $light-grey;
    }

    &--invalid {
      border-bottom: 2px solid $orange;
    }

    &--zero {
      color: $light-grey;
    }
  }

  &__convert-arrow {
    margin: 24.75px 0;
    display: flex;
    justify-content: center;
    height: 12.5px;
  }

  &__balance {
    color: $light-grey;
    font-weight: 400;
    margin-top: 8px;

    &--invalid {
      color: $orange;
    }

    &--placeholder {
      height: 27px;
    }
  }

  &__currency-converter {
    margin-top: 8px;
    color: $light-grey;

    &--placeholder {
      height: 27px;
    }
  }

  &__swap-button {
    margin-top: 94px;
    height: 72px;
    width: 100%;
    background-color: $yello;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    border-radius: 36px;
    transition: 0.6s;

    &--invalid {
      opacity: 0.5;
    }

    &:hover {
      background-color: $yello-hover;
    }
  }
}
